<div class='col-7 mx-auto'>
<%= form_with model: @item, method: :patch do |f| %>

<%= render "devise/shared/error_messages", resource: @item %>
  <div class="row m-3">
    <div class="col"><%= f.label :image, "画像" %></div>
    <div class="col-8"><%= f.attachment_field :image, class: "form-control" %></div>
  </div>

  <div class="row m-3">
    <div class="col"><%= f.label :name, "商品名" %></div>
    <div class="col-8"><%= f.text_field :name, class: 'form-control' %></div>
  </div>

  <div class="row m-3 ">
    <div class="col"><%= f.label :introduction, "商品説明" %></div>
    <div class="col-8"><%= f.text_area :introduction, class: 'form-control' %></div>
  </div>
  <div class="row m-3">
    <div class="col"><%= f.label :genre_id, "ジャンル", class: "form-select"%></div>
    <div class="col-8"><%= f.select :genre_id, Item.get_genre_list, class: 'dropdown'%></div>
  </div>

  <div class="row m-3">
    <div class="col"><%= f.label :price, "税抜価格" %></div>
    <div class="col-8"><%= f.text_field :price, class: 'form-control price' %></div>
  </div>

  <div class="row m-3">
    <div class="col"><%= f.label :is_active, "商品ステータス" %></div>
   <div class="col-8"><%= f.select :is_active, [["販売中", true], ["売り切れ", false]] %></div>
  </div>

  <div class="row">
    <div class="col-5 offset-3 text-center"><%= f.submit class: 'btn btn-success form-control ' %></div>
  </div>

  <% end %>
  </div>