<div class='mx-auto w-50'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0">

      <h2>新規登録</h2>

      <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
         <div class="form-inline mb-3">
            <label class="mr-4">お名前　</label>
          <div class="form-group">
            <%= f.text_field :last_name, autofocus: true, placeholder: "名", class: "form-control mr-3" %>
          </div>
          <div class="form-group">
            <%= f.text_field :first_name, autofocus: true, placeholder: "姓", class: "form-control" %>
          </div>
        </div>
        <div class="form-inline mb-3">
          <label class="mr-4">フリガナ</label>
          <div class="form-group mr-3">
            <%= f.text_field :ruby_last_name, placeholder: "セイ", class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.text_field :ruby_first_name, placeholder: "メイ", class: "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label "メールアドレス" %><br />
          <%= f.email_field :email, class: "form-control" %>
        </div>
      
        <div class="form-group">
          <%= f.label "電話番号" %><br />
          <%= f.text_field :phone_number, class: 'form-control' %>
        </div>
      
        <div class="form-group">
          <%= f.label "パスワード" %>
          <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
        </div>
      
        <div class="form-group mb-2">
          <%= f.label "パスワードの確認" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
        </div>
        
          <hr>
      
        <div class="form-group">
          <%= f.label "郵便番号" %><br />
          <%= f.text_field :postcode, autocomplete: 'postcode', class: 'form-control' %>
        </div>
      
        <div class="form-group">
          <%= f.label "都道府県" %><br /> <!--/ 47都道府県をプルダウンメニューで表示-->
          <%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :code, :name, { prompt: '選択してください' }, class: 'form-control' %>
        </div><!--質問 JpPrefecture::Prefecture この記述は何？クラス変数みたいなもの？-->
      
        <div class="form-group">
          <%= f.label "市区町村" %><br />
          <%= f.text_field :address_city, autocomplete: 'address_city', class: 'form-control' %>
        </div>
      
        <div class="form-group">
          <%= f.label "番地" %><br />
          <%= f.text_field :address_street, autocomplete: 'address_street', class: 'form-control' %>
        </div>
      
        <div class="form-group">
          <%= f.label "ビル" %><br />
          <%= f.text_field :address_building, autocomplete: 'address_building', class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.submit "登録", class: "btn btn-block btn-success" %>
        </div>
      <% end  %>
      <%= render "devise/shared/links" %>

    </div>
  </div>
</div>