<div class="container">
	<h1 class="text-center mt-3">マイページ</h1>
	<h3><strong class="information-link"><i class="far fa-user"></i>登録情報</strong></h3>

		<table class="table table-bordered table-condensed" >
			<tbody>
				<tr>
					<td class="info col-xs-2">氏名</td>
					<td class="text-left"><%= @customer.last_name %><%= @customer.first_name %></td>
				</tr>
				<tr>
					<td class="info">フリガナ</td>
					<td class="text-left"><%= @customer.last_name_kana %><%= @customer.first_name_kana %></td>
				</tr>
				<tr>
					<td class="info">メールアドレス</td>
					<td class="text-left"><%= @customer.email %></td>
				</tr>
				<tr>
					<td class="info">郵便番号</td>
					<td class="text-left"><%= @customer.postal_code %></td>
				</tr>
				<tr>
					<td class="info">住所</td>
					<td class="text-left"><%= @customer.address %></td>
				</tr>
				<tr>
					<td class="info">電話番号</td>
					<td class="text-left"><%= @customer.telephone_number %></td>
				</tr>
			</tbody>
		</table>

		<div class="d-flex">
			<% unless current_admin %>
			  <div>
					<%= link_to "配送先一覧を見る", customers_addresses_path, data: {"turbolinks" => false}, class: "mr-2 btn btn-info" %>
				</div>
			<% end %>
			<div>
				<%= link_to "注文履歴一覧を見る", orders_path, class: "mr-2 btn btn-info" %>
			</div>
			<div>
			  <%= link_to " ユーザー情報を編集する", edit_customer_registration_path, class: "btn btn-success" %>
			</div>
		</div>
</div>