<div class="container">
  <div class="row">
    <div class="col">
      <h4>注文情報入力</h4>
      <% if current_customer.cart_items.present? %>
        <%= form_with model: @order, url: log_orders_path, method: :post, local: true  do |f| %>
          <strong>支払い方法</strong>
          <div class="m-2 ml-4">
            <%= f.radio_button :payment_method, :"クレジットカード", checked: true %>
            <span>&nbsp;クレジットカード</span>
          </div>
          <div class="m-2 ml-4">
            <%= f.radio_button :payment_method, :"銀行振込" %>
            <span>&nbsp;銀行振り込み</span>
          </div>
          <strong>お届け先</strong>
          <div class="m-2 ml-4">
            <%= f.radio_button :addresses, "residence", checked: true  %>
            <span>&nbsp;ご自身の住所</span><br>
            <div class="m-2 ml-4">〒<%= current_customer.postal_code %>&emsp;<%= current_customer.address %></div>
            <div class="m-2 ml-4"><%= "#{current_customer.last_name} #{current_customer.first_name}" %></div>
          </div>

          <% if @addresses != [] %>
          <div class="m-2 ml-4">
            <%= f.radio_button :addresses, "addresses" %>
            <span>&nbsp;登録済住所から選択</span>
              <!-- order_addressはshipping_addressのモデルでpostal_code+address+name -->
          </div>
          <div class="m-2 ml-5">
            <%= f.collection_select(:address_id, @addresses, :id, :order_address) %>
          </div>
          <% end %>
          <div class="m-2 ml-4">
            <%= f.radio_button :addresses, "new_address" %>
            <span>&nbsp;新しいお届け先</span>
          </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <table class="table table-borderless ml-4">
        <tr>
          <th><%= f.label :"郵便番号(ハイフンなし)" %></th>
          <td><%= f.text_field :postal_code, class:"form-control", placeholder:"0000000" %></td>
        </tr>
        <tr>
          <th><%= f.label :"住所" %></th>
          <td><%= f.text_field :address, class:"form-control", placeholder:"東京都渋谷区代々木神園町0-0" %></td>
        </tr>
        <tr>
          <th><%= f.label :"宛名" %></th>
          <td><%= f.text_field :name, class:"form-control", placeholder:"田中太郎" %></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
        <%= f.submit "確認画面へ進む", class: "btn btn-primary col-xs-5" %>
    </div>
  </div>

        <% end %>
      <% else %>
        <p>お客様のショッピングカートに商品はありませんので注文情報の入力ができません。</p>
        <p><%= link_to "商品一覧", items_path, class: "btn btn-warning" %>から商品をお探し下さい。</p>
      <% end %>
    </div>
  </div>
</div>