<div class="container">
  <div class="row">
    <div class="col">
      <h3>配送先登録/一覧</h3>
      <table class="table table-borderless">
      <%= form_with model:@shipping_address, local:true do |f| %>
        <tr>
          <th><%= f.label :postcode, '郵便番号' %></th>
          <td><%= f.text_field :postcode, autocomplete: 'postcode' %></td>
        </tr>
        <tr>
          <th><%= f.label :prefecture_name, '都道府県' %></th>
          <td><%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :code, :name, { prompt: '選択してください' } %></td>
        </tr>
        <tr>
          <th><%= f.label :address_city, '市区町村' %></th>
          <td><%= f.text_field :address_city, autocomplete: 'address_city' %></td>
        </tr>
        <tr>
          <th><%= f.label :address_street, '番地' %></th>
          <td><%= f.text_field :address_stree, autocomplete: 'address_street' %></td>
        </tr>
        <tr>
          <th><%= f.label :address_building, '建物' %></th>
          <td><%= f.text_field :address_building, autocomplete: 'address_building' %></td>
        </tr>
        <tr>
          <th><%= f.label :destination_name, '宛名' %></th>
          <td><%= f.text_field :destination_name %></td>
          <td><%= f.submit "新規登録", class: "btn btn-success" %></td>
        </tr>
      <% end %>
      </table>
      <table class="table">
        <thead>
          <tr>
            <th>郵便番号</th>
            <th>住所</th>
            <th>宛名</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%# current_user.postcode %></td>
            <td><%# '#{current_user.prefecture_name}#{current_user.address_city}#{current_user.address_stree}#{current_user.address_building}' %></td>
            <td><%# current_user.destination_name %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>