<div class='col-md-8 mx-auto'>

  <td><%= link_to "削除する", all_destroy_path, class: "btn btn-danger" %></td>

  <table class='table table-hover table-inverse'>

    <thead>
      <tr>
        <th>商品名</th>
        <th>単価(税込み)</th>
        <th>数量</th>
        <th>小計</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @cart_items.each do |cart_item| %>
        <tr>
          <td><%= cart_item.item.name %></td>
          <td><%= cart_item.item.price %></td>

          <%= form_with model: cart_item, method: :PATCH, local: true do |f| %>
            <td><%= f.select :amount, [1,2,3,4,5,6,7,8,9,10,20,30] %>
            <%= f.hidden_field :item_id, value: cart_item.item.id %>
              <%= f.submit '変更', class: "btn btn-primary" %>
            </td>
          <% end %>

          <td><%= cart_item.item.price.to_i * cart_item.amount.to_i %></td>

          <td><%= link_to "削除する", cart_item_path(cart_item), method: :delete, class: "btn btn-danger" %></td>
        </tr>
      <% end %>
    </tbody>

  </table>
</div>