<h3>配送先編集</h3>
<div class="container">
  <div class="row">
    <div class="col">
      <h3>配送先登録/一覧</h3>
      <%= form_with model: @addresses, local:true do |f| %>
      <table class="table table-borderless">
        <tr>
          <th><%= f.label :postal_code, '郵便番号' %></th>
          <td><%= f.text_field :postal_code %></td>
        </tr>
        <tr>
          <th><%= f.label :address, '建物' %></th>
          <td><%= f.text_field :address %></td>
        </tr>
        <tr>
          <th><%= f.label :name, '宛名' %></th>
          <td><%= f.text_field :name %></td>
          <td><%= f.submit "変更内容を保存", class: "btn btn-success" %></td>
        </tr>
      </table>
      <% end %>
    </div>
  </div>
</div>